on: pull_request_review
name: Label approved pull requests
jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: 0
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "approved"
  slackNotifyWhenApproved:
    name: Slack Notify When approved
    runs-on: ubuntu-latest
    steps:
    - name: Slack Notify When approved
      uses: ayaka-tajiri/slack-notify-when-approved@main
      env:
        APPROVALS: ï¼’
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_WEB_HOOK: ${{ secrets.SLACK_WEB_HOOK }}
